.form {
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
}

.form-item {
  padding: 1rem;
  margin: 0.5rem;
}

.form-btn {
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  cursor: pointer;
}

.invalid-input {
  color: red;
  font-size: small;
  margin: 0;
}
